<!-- <form> -->
<form #textForm="ngForm" (ngSubmit)="postText(textForm.value)">
  <div mat-dialog-title>Enter data for a new text component</div>

  <mat-dialog-content>
    <label for="name">Enter name for the component</label><br />
    <input type="text" name="name" id="name" ngModel /><br />
    <label for="content">Enter content</label><br />
    <input type="text" name="content" id="content" ngModel />
  </mat-dialog-content>

  <mat-dialog-actions align="end">
    <button mat-button mat-dialog-close class="button">Cancel</button>
    <button mat-button mat-dialog-close type="submit" class="button">
      Submit
    </button>
  </mat-dialog-actions>
</form>
