<div class="modal-background">
  <form class="form" #textForm="ngForm" (ngSubmit)="postText(textForm.value)">
    <div mat-dialog-title>New text component</div>

    <mat-dialog-content>
      <div class="input-group">
        <label for="name">Enter name</label>
        <input
          type="text"
          name="name"
          id="name"
          placeholder="Component name"
          required
          ngModel
        />
      </div>
      <div class="input-group">
        <label for="content">Enter content</label>
        <textarea
          name="content"
          id="content"
          class="content"
          placeholder="Content..."
          required
          ngModel
        ></textarea>
      </div>
    </mat-dialog-content>

    <mat-dialog-actions align="end">
      <button mat-button mat-dialog-close class="button">Cancel</button>
      <button
        [disabled]="!textForm.form.valid"
        mat-button
        mat-dialog-close
        type="submit"
        class="button"
      >
        Submit
      </button>
    </mat-dialog-actions>
  </form>
</div>
