nav {
    display: flex;
    flex-direction: column;
    margin-top: 50px;
}

nav p {
    left: 20px;
    margin: 0;
    padding: 0 40px;
}

.sidebar-button {
    height: 50px;
    line-height: 50px;
    font-size: large;
    border-radius: 5px;
    transition: 0.3s;
}

.sidebar-button:hover {
    cursor: pointer;
    background-color: var(--green);
}