<div class="buttons">
  <button
    mat-raised-button
    class="button post-button"
    (click)="openPostTextModal()"
  >
    New Text Component
  </button>
  <button
    [disabled]="true"
    mat-raised-button
    id="delete-text-button"
    class="button delete-button"
    (click)="openDeleteModal()"
  >
    Delete
  </button>
</div>

<form class="selection-list">
  <div *ngFor="let text of textArr" class="list">
    <div class="container-checkbox">
      <label class="checkbox-label" for="checkbox-{{ text.ID }}">
        <input
          type="checkbox"
          id="checkbox-{{ text.ID }}"
          name="checkbox"
          class="checkbox-input"
          (click)="toggleDeleteButton(text.ID)"
        />
      </label>
    </div>
    <div
      class="list-items"
      id="item-{{ text.ID }}"
      (click)="openChangeContentModal(text)"
    >
      <div class="list-keys">
        <p class="item item-id">id</p>
        <p class="item">name</p>
        <p class="item">content</p>
      </div>
      <div class="list-values">
        <p class="item item-id">{{ text.ID }}</p>
        <p class="item">{{ text.Name }}</p>
        <p class="item">{{ text.Content }}</p>
      </div>
    </div>
  </div>
</form>
