html {
    height: 100%;
}

.root-container {
    display: flex;
    min-height: 100vh;
    height: 100%;
}

app-sidebar {
    position: fixed;
    top: 0;
    left: 0;
    height: 100vh;
    width: var(--sidebar-width);
    overflow-x: hidden;
    background-color: var(--beige);
    border-right: 1px;
    border-right-style: groove;
    z-index: 100;
}

.main-container {
    margin-left: var(--sidebar-width);
    margin-top: 50px;
    flex: 1;
}

@media only screen and (max-width: 600px) {
    app-sidebar {width: var(--sidebar-width-media);}
    .main-container {margin-left: var(--sidebar-width-media);}
}